/*Section 8*/
.LandingPage_footer{
	margin-top: 200px;
	background-color: #060B2E;
}

.LandingPage_text{
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #515151;
}

.LandingPage_text_head{
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 58px;
	color: #FFFFFF;
}
/*Section 8*/