/*Section 0*/
.NavBar_BrandName{
	font-weight: 500;
	font-size: 48px;
	line-height: 72px;
	color: #7575CD !important;
	margin-bottom: 0;
}

.NavBar_Normal{
	z-index: 3;
	position:fixed;
	width: 100%;
	height: 60;
}
.NavBar_Modified{
	z-index: 3;
	position:fixed;
	width: 100%;
	height: 60;
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
	transition: 0.3s ease-in-out;
}

.NavBar_Link{
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	padding-right: 1.5rem !important;
}
.NavBar_Link:hover{
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: #4753BD;
	padding-right: 1.5rem !important;
}

.NavBar_Icon_Box1{
	width: 30px;
	height: 30px;
	background: #FFFFFF;
	border-radius: 0.2rem;
    margin-right: 1.5rem !important;
}

.NavBar_Icon_Box2{
	width: 30px;
	height: 30px;
	background: #060B2E;
	border-radius: 0.2rem;
    margin-right: 1.5rem !important;
}
/*Section 0*/
