@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.LandingPage{
	font-family: Poppins;
	font-style: normal;
	overflow: hidden;
}

/*Section 0*/
.NavBar_BrandName{
	font-weight: 500;
	font-size: 48px;
	line-height: 72px;
	color: #7575CD;
}

.NavBar{
	z-index: 3;
}
.NavBar_Link{
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	padding-right: 1.5rem !important;
}
.NavBar_Icon_Box{
	width: 30px;
	height: 30px;
	background: #FFFFFF;
	border-radius: 0.2rem;
}

/*Section 0*/

/*Section 1*/
.height_control{
	height: 630px;
}
.LandingPage_text_box1{
	transform: translateX(120px) translateY(200px);
}

.LandingPage_image1{
	z-index: 2;
	width: 750px;
	height: 750px;
	border-radius: 100px;
	transform: translateX(40px) translateY(-370px) rotate(-45deg);
	opacity: 0.8;
}

.LandingPage_image1_overlay{
	z-index: 4;
	width: 750px;
	height: 750px;
	background: rgba(74,78,136,0.90);
	border-radius: 100px;
	transform: translateX(40px) translateY(-1120px) rotate(-45deg);
	opacity: 0.8;
}

.LandingPage_text1{
	font-weight: 700;
	display: flex;
	color: #4753BD;
	font-size: 63px;
	line-height: 90px;
}

.LandingPage_text2{
	font-weight: 600;
	display: flex;
	color: #D4D4D4;
	font-size: 24px;
	line-height: 36px;
}
/*Section 1*/


/*Section 2*/
.LandingPage_text_box2{
	background: #F7F7F7;
}

.LandingPage_text3{
	font-weight: bold;
	color: #4753BD;
	font-size: 40px;
	line-height: 60px;
}

.LandingPage_text4{
	font-weight: 600;
	color: #7D7D7D;
	font-size: 24px;
	line-height: 36px;
}
/*Section 2*/

/*Section 3*/
.card{
	background: #FFFFFF;
	box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	width: 18rem;
	margin-left: auto;
	margin-right: auto;
}

.LandingPage_card_title{
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	color: #4753BD;
}

.LandingPage_card_description{
	font-weight: 300;
	font-size: 16px;
	line-height: 21px;
	color: #7D7D7D;
}

.LandingPage_card_Buttun{
	border: 1px solid #232283;
	box-sizing: border-box;
	border-radius: 18px;
	font-weight: 300;
	font-size: 12px;
	line-height: 18px;
	width:50%;
}
/*Section 3*/

/*Section 4*/
.LandingPage_text_box3{
	background: #F7F7F7;
}

.LandingPage_text5{
	font-weight: bold;
	color: #4753BD;
	font-size: 60px;
	line-height: 90px;
}

.LandingPage_text6{
	font-weight: 600;
	color: #7D7D7D;
	font-size: 24px;
	line-height: 36px;
}
/*Section 4*/


/*Section 5*/
.LandingPage_mt_5_grid{
	margin-top: 5rem !important;
	margin-bottom: 4rem !important;
	margin-left: 10%;
	margin-right: 10%;
}
.list_group_item{
	padding: 0px !important;
	border: none !important;
	background-color: black;
}

.li_wrapper{
	width: 100%;
	height: 100%;
	position: relative;
}
.li_wrapper:hover .li_text{
	opacity: 0.6;
}
.li_text{
	position: absolute;
	transition: 0.5s ease;
	height: 100%;
	width: 100%;
	top:0;
	left:0;
	background-color: black;
	opacity: 0;
	color:white;
	font-size: 48px;
	align-items: center;
}
.list_img{
	width: 100%;
	height: 100%;
}

.LandingPage_text7{
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	color: #4753BD;
	cursor: pointer;
	text-decoration: none !important;
}
.LandingPage_ArrowHead{
	position: relative;
	left: -8px;
}
/*Section 5*/


/*Section 6*/
.LandingPage_text8{
	font-weight: bold;
	font-size: 40px;
	line-height: 60px;
	color: #4753BD;
}
.LandingPage_side_image{
	position: relative;
	transform: translateX(-10px);
}
.LandingPage_text9{
	font-weight: 600;
	font-size: 20px;
	line-height: 36px;
	color: #7D7D7D;
}
.LandingPage_button{
	background: linear-gradient(270.04deg, #232283 0%, #3E3DA6 103.67%, rgba(0, 0, 0, 0) 103.68%);
	filter: drop-shadow(7px 15px 31px rgba(0, 0, 0, 0.2));
	border-radius: 39.9634px;
	transform: rotate(-0.18deg);
}

.LandingPage_button_text{
	font-weight: 500;
	font-size: 17.484px;
	line-height: 30px;
	letter-spacing: 0.002em;
	color: #FFFFFF;
	margin: 0px 19.9817px;
}
/*Section 6*/

/*Section 7*/
.slide_wrapper{
	position: relative;
	width: 100%;
	height: 100%;
}
.column{
	height: 250px;
}
.LandingPage_slide_image1{
	position: absolute;
	width: 90px;
	height: 90px;
	left: 30%;
	right: 75%;
}
.LandingPage_slide_image2{
	position: absolute;
	width: 110px;
	height: 110px;
	left: 35%;
	right: 75%;
}
.LandingPage_slide_image3{
	position: absolute;
	left: 35%;
	right: 75%;
	top:5%;
	width: 110px;
	height: 110px;
}
.LandingPage_Text_Box4{
	position: absolute;
	top:50%;
	left:45%;
	right: 65%;
}

.LandingPage_text10{
	font-weight: bold;
	font-size: 40px;
	line-height: 60px;
	color: #4753BD;
}

.slide_button_div{
	width: 30px !important;
	height: 30px !important;
	background-color: #E8E8E8 !important;
	border-radius: 2rem;
}
.slide_button{
	width: 5px;
}
.LandingPage_Ellipse{
  display: flex;
  justify-content: center;
}
.slide_Coomas{
	width: 20%;
}
.LandingPage_text11{
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}
.LandingPage_text12{
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	color: #262587;
}
.LandingPage_text13{
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	color: #7D7D7D;
}
.LandingPage_Slide_Indicator{
	position: relative !important;
	top: 50px;
	height: 10px !important;
	width: 10px !important;
	border-radius: 100% !important;
	background-color: #262587 !important;
}
/*Section 7*/


/*Section 8*/
.LandingPage_footer{
	margin-top: 200px;
	background-color: #232283;
}

.LandingPage_text14{
	margin-top: 100px;
	margin-bottom: 50px;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #FFFFFF;
}

.LandingPage_text15{
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #FFFFFF;
	text-align: start!important;
}

.LandingPage_text16{
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #FFFFFF;
	text-align: end!important;
}

.LandingPage_text17{
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #FFFFFF;
	text-align: end!important;
}
/*Section 8*/